<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{{ url_for('static', filename='assets/img/sidebar-i.jpg') }}">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.github.com/trivelyan" target="_blank" class="simple-text">
                    Trivelyan
                </a>
            </div>

            <ul class="nav">
                <!--<li class="active">-->
                  <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <i class="pe-7s-user"></i>
                        <p>Account</p>
                    </a>
                </li>
                <li>
                    <a href="/table">
                        <i class="pe-7s-note2"></i>
                        <p>App List</p>
                    </a>
                </li>

                <li>
                    <a href="/deploy_page">
                        <i class="pe-7s-note2"></i>
                        <p>Deploy</p>
                    </a>
                </li>

                <li>
                    <a href="/transaction">
                        <i class="pe-7s-news-paper"></i>
                        <p>Transactions</p>
                    </a>
                </li>

				<li class="active-pro">
                    <a href="https://dashboard.heroku.com/apps" target="_blank">
                        <i class="pe-7s-rocket"></i>
                        <p>Go to Heroku</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
